@model myStore.ViewModels.NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/placeholder-image.png";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="Description" class="form-control" />
            </div>

            <div class="form-group">
                <label>Price <span class="text-danger">*</span> </label>
                <input name="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input id="ImageURL" name="ImageURL" type="hidden" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>

            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>


<script>

      $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
      });

    $('#createProduct').validate({

        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50,
            },
            Description: {
                minlength: 5,
                maxlength: 200
            },
            Price: {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 200'
            },
            Price: {
                range: 'Price must be within on 1 - 100000' 
            }
        }
    });

    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Product")',//'/Product/Create',
                data: $("#createProduct").serialize()
            })
                .done(function (response) {
                    $("#tableContiner").html(response);
                    $(".actionContainer").html("");
                    focusAction("#tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter All required Fields",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    });
                });
        } else {
            swal({
                title: "Warning",
                text: "Please enter All required Fields",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });

    $("#cancelBtn").click(function () {
        $(".actionContainer").html("");
        focusAction("#tableContiner");
    });

</script>


